body{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 0;
}
*{
    margin: 0;
}
.menu{
    width: 100%;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    border-bottom: #0b1430 1px solid;
    min-height: 203px;
}
.left-menu{
    width: 60%;
}
.actual-img{
    text-align: left;
    margin-left: 73px;
    margin-top: 53px;
    width: 90%;
}

.right-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 39px;
    width: 40%;
    margin-top: 96px;
}
.small-device{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}

@media(max-width:950px){
    .menu{
        display: none;
    }
    .small-device{
        display: block;
        width: 100%;
    }
    .right-menu{
        display: flex;
        width: 90%;
        margin: auto;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 50px;
    }
}
@media(max-width: 600px){
    body{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        margin: 0;
    }
    *{
        margin: 0;
    }
    .menu{
        width: 100%;
        display: flex;
        gap: 0;
        flex-wrap: wrap;
        border-bottom: #0b1430 1px solid;
        min-height: 203px;
    }
    .left-menu{
        width: 60%;
    }
    .actual-img{
        text-align: left;
        margin-left: 73px;
        margin-top: 53px;
        width: 90%;
    }
    
    .right-menu{
        display: flex;
        flex-wrap: wrap;
        gap: 39px;
        width: 70%;
        margin-top: 96px;
    }
    .small-device{
        display: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .menu{
        display: none;
    }
    .small-device{
        display: block;
        width: 100%;
    }
    .right-menu{
        display: flex;
        width: 90%;
        margin: auto;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 50px;
    }
}